{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}
{% block monTitreAdmin %}Administration des aliments
{% endblock %}
{% block body %}
    {#    {% for message in app.flashes('success') %}#}
    {#        <div class="alert alert-success">#}
    {#            {{ message }}#}
    {#        </div>#}

    {#    {% endfor %}#}
    <a href="" class="btn btn-success m-2">Ajouter</a>
    <table class="table m-2">
        <tr class="table-dark">
            <th>Image</th>
            <th>Aliments</th>
            <th>Prix</th>
            <th>Calories</th>
            <th>Proteines</th>
            <th>GLucides</th>
            <th>Lipides</th>
            <th>Actions</th>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td> <img src="{{asset('images/'~aliment.image)}}"  class="perso_imgAliment" ></td>
                <td> {{ aliment.nom }} </td>
                <td> {{ aliment.prix}}</td>
                <td>{{ aliment.calorie }}</td>
                <td>{{ aliment.proteine }}</td>
                <td>{{ aliment.glucide }}</td>
                <td>{{ aliment.lipide }}</td>
                <td>
{#                    <form method="POST" style="display:inline-block" action="{{ path('admin_aliment_modification',{'id' : aliment.id}) }}" >#}
{#                        <input  type="hidden" name="_method" value="POST">#}
{#                        <input type="submit" class="btn btn-primary" value="Modifier">#}
{#                    </form>#}

{#                    <form method="POST" style="display:inline-block" action="{{ path('admin_aliment_suppression',{'id': aliment.id}) }}" onsubmit="return confirm('Confirmer la suppression')">#}
{#                        <input  type="hidden" name="_method" value="delete">#}
{#                        <input type="hidden" name="_token" value="{{csrf_token('SUP'~aliment.id)}}">#}
{#                        <input type="submit" class="btn btn-danger" value="Supprimer">#}
{#                    </form>#}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}
